<!DOCTYPE html>
<html lang="en">
<head>
    #set($min=0)
    #set($max=5)
    <meta charset="UTF-8">
    <title>Nouveaux mangas</title>
    <header>
        <input id="settingsButtonShow" class="settingsMainButton" type="image" src="https://static.qoqa.ch/pictogram/media/files/000/000/214/png_negative/icon-hl-mecanic.png" size="0" />
        <input class="logInMainButton" type="image" src="https://icon-library.com/images/icon-login/icon-login-4.jpg" size="0" />
    </header>
    <script>
        document.getElementById('settingsButtonShow').onclick = function() {
            var show = document.getElementById("visibilitySettings")
            if(show.style.visibility=="visible"){
                show.style.visibility="hidden"
            }else{
                show.style.visibility="visible"
            }
        };
        function goToPage(url){
            window.location.replace(url);
        }
        function checkNote() {
            var val = parseInt(document.getElementById("note").value);
            var span = document.getElementById("alert");
            if (val > 0 || val < 5) {

                span.text("value must be between 0 and 5");
            }else{
                span.text("");
            }
        };
    </script>
</head>
<body>
<style type="text/css">
      #include("css/tHt.css")
    </style>
<div class="settingsMenuToShow" id="visibilitySettings" style="visibility: hidden">
    <div class="divTriangle"></div>
    <div class="settingsMainMenu">
        <a class="textButton" href="http://localhost:8080/explore">Explorer</a>
        <a class="textButton">A propos</a>
    </div>
</div>
<div class="formAddReview">
    <form action="form" method="POST">
        <div class="formAddReviewContainer">
            <label class = "addReviewElement" for="note">Note /5: </label>
            #springFormInput("review.note" " class = 'addReviewElement' id='note' min=$min max=$max onBlur=checkNote()  required")
            <p class = 'addReviewElement' id="alert"></p>
            <label for="text">Contenus: </label>
            #springFormInput("review.text" "class = 'addReviewElement' id='text' required")
        </div>

        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>