<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exploration</title>
    <header>
        <input id="settingsButtonShow" class="settingsMainButton" type="image" src="https://static.qoqa.ch/pictogram/media/files/000/000/214/png_negative/icon-hl-mecanic.png" size="0" />
        <input class="logInMainButton" type="image" src="https://icon-library.com/images/icon-login/icon-login-4.jpg" size="0" />
    </header>
    <script>
        document.getElementById('settingsButtonShow').onclick = function() {
            var show = document.getElementById("visibilitySettings")
            if(show.style.visibility=="visible"){
                show.style.visibility="hidden"
            }else{
                show.style.visibility="visible"
            }
        };
        function goToPage(url){
            window.location.replace(url);
        }
    </script>
</head>
<body>
    <style type="text/css">
      #include("css/tHt.css")
    </style>
    <div class="settingsMenuToShow" id="visibilitySettings" style="visibility: hidden">
        <div class="divTriangle"></div>
        <div class="settingsMainMenu">
            <a class="textButton" href="http://localhost:8080/explore">Explorer</a>
            <a class="textButton">A propos</a>
        </div>
    </div>
    <div class="listMangaHolder" style="visibility: visible">
        <ul>
            #foreach($manga in $listExploreManga)
                <input type="image" class="mangaCoverExplore" onclick=goToPage("http://localhost:8080/reviewPage/"+$manga.Id) src=$manga.Image alt=$manga.Name>
            #end
        </ul>
    </div>
</body>
</html>