<!DOCTYPE html>
<html>
<head>
    <title>Page de connexion</title>
    <META charset="utf-8">
    <style type="text/css">
            #include("css/log_style.css")
    </style>

    <script>
        const sampleForm = document.getElementById("sampleForm");

        async function submitForm(){
            const jsonFormData = buildJsonFormData(sampleForm)
            const header = buildHeader();
            const response = await performPostHttpRequest('http://localhost:8080/login/try', header, jsonFormData);
            if (response){

                // create session
                console.log("REPONSE")
            }

            else alert('An error occured');
        }

        function buildJsonFormData(form){
            const jsonFormData = {};

            jsonFormData["pseudo"] = document.getElementsByClassName("pseudoIN")[0].value
            jsonFormData["password"] = document.getElementsByClassName("passwordIN")[0].value

            return jsonFormData
        }

        function buildHeader(authorization = null){
            const headers = {
                "Content-Type" : "application/json"
            }
            return headers
        }

        async function performPostHttpRequest(fetchLink,headers,body){
            console.log(fetchLink)
            console.log(headers)
            console.log(body)
            if(!fetchLink || !headers || !body) {
                throw new Error("One or more POST request parameters was not passed.");
            }
            try {
                const rawResponse = await fetch(fetchLink, {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify(body)
                });
                const content = await rawResponse.json();
                return content;
            }
            catch(err) {
                console.error(`Error at fetch POST: ${err}`);
                throw err;
            }
        }
        function goToPage(url){
            window.location.replace(url);
        }
    </script>
</head>

<body>
<section id="main">
    <h1>Connexion</h1>
    <form id="sampleForm">
        <h3>Pseudo</h3>
        <input id="boite" type="text" name="pseudo" class="pseudoIN" /><br />
        <h3>Mot de passe</h3>
        <input id="boite" type="password" name="password" class="passwordIN"/><br />
        <input id="connexion" type="button" onclick=submitForm() value="Connexion"/>
    </form>
</section>

<div>
    <a href="http://localhost:8080/user/registration/fill" >Pas encore inscrit ? Cliquez ici</a>
</div>

<div id="retour">
    <a id="retour" href="http://localhost:8080/welcome"> &#8592 Retour &agrave; la page d'accueil </a>
</div>
</body>
</html>