<!DOCTYPE html>
<html lang="en">
<head>
    #set($emptyStar="https://i.imgur.com/753ezMp.png")
    #set($halfStar="https://i.imgur.com/Ur4tHqv.png")
    #set($fullStar="https://i.imgur.com/UwQJP3X.png")
    <meta charset="UTF-8">
    <title>Reviews</title>
    <header>
        <input id="settingsButtonShow" class="settingsMainButton" type="image" src="https://static.qoqa.ch/pictogram/media/files/000/000/214/png_negative/icon-hl-mecanic.png" size="0" />
        <input class="logInMainButton" type="image" src="https://icon-library.com/images/icon-login/icon-login-4.jpg" size="0" />
    </header>
    <script>
        document.getElementById('settingsButtonShow').onclick = function() {
            var show = document.getElementById("visibilitySettings")
            if(show.style.visibility=="visible"){
                show.style.visibility="hidden"
            }else{
                show.style.visibility="visible"
            }
        };
    </script>
</head>
<body>
    <style type="text/css">
      #include("css/tHt.css")
    </style>
    <div class="settingsMenuToShow" id="visibilitySettings" style="visibility: hidden">
        <div class="divTriangle"></div>
        <div class="settingsMainMenu">
            <a class="textButton" href="http://localhost:8080/explore">Explorer</a>
            <a class="textButton">A propos</a>
        </div>
    </div>
    <div class="mangaInfosReview">
        <div class="coverMangaReview">
            <image class="imageCoverMangaReview" src=$manga.Image alt=$manga.Name></image>
        </div>
        <div class="textMangaReview">
            <h4 class="titleMangaReview">
                $manga.Name
            </h4>
            <ul>
                #if($manga.Note<=1.0)
                    <image id = "starMark1" class="startMark" src=$emptyStar></image>
                    <image id = "starMark2" class="startMark" src=$emptyStar></image>
                    <image id = "starMark3" class="startMark" src=$emptyStar></image>
                    <image id = "starMark4" class="startMark" src=$emptyStar></image>
                    <image id = "starMark5" class="startMark" src=$emptyStar></image>
                #else
                    #if($manga.Note>=0.5 && $manga.Note<1)
                        <image id = "starMark1" class="startMark" src=$halfStar></image>
                        <image id = "starMark2" class="startMark" src=$emptyStar></image>
                        <image id = "starMark3" class="startMark" src=$emptyStar></image>
                        <image id = "starMark4" class="startMark" src=$emptyStar></image>
                        <image id = "starMark5" class="startMark" src=$emptyStar></image>
                    #else
                        #if($manga.Note>=1 && $manga.Note<1.5)
                            <image id = "starMark1" class="startMark" src=$fullStar></image>
                            <image id = "starMark2" class="startMark" src=$emptyStar></image>
                            <image id = "starMark3" class="startMark" src=$emptyStar></image>
                            <image id = "starMark4" class="startMark" src=$emptyStar></image>
                            <image id = "starMark5" class="startMark" src=$emptyStar></image>
                        #else
                            #if($manga.Note>=1.5 && $manga.Note<2)
                                <image id = "starMark2" class="startMark" src=$halfStar></image>
                                <image id = "starMark1" class="startMark" src=$fullStar></image>
                                <image id = "starMark3" class="startMark" src=$emptyStar></image>
                                <image id = "starMark4" class="startMark" src=$emptyStar></image>
                                <image id = "starMark5" class="startMark" src=$emptyStar></image>
                            #else
                                #if($manga.Note>=2 && $manga.Note<2.5)
                                    <image id = "starMark2" class="startMark" src=$fullStar></image>
                                    <image id = "starMark1" class="startMark" src=$fullStar></image>
                                    <image id = "starMark3" class="startMark" src=$emptyStar></image>
                                    <image id = "starMark4" class="startMark" src=$emptyStar></image>
                                    <image id = "starMark5" class="startMark" src=$emptyStar></image>
                                #else
                                    #if($manga.Note>=2.5 && $manga.Note<3)
                                        <image id = "starMark3" class="startMark" src=$halfStar></image>
                                        <image id = "starMark1" class="startMark" src=$fullStar></image>
                                        <image id = "starMark2" class="startMark" src=$fullStar></image>
                                        <image id = "starMark4" class="startMark" src=$emptyStar></image>
                                        <image id = "starMark5" class="startMark" src=$emptyStar></image>
                                    #else
                                        #if($manga.Note>=3 && $manga.Note<3.5)
                                            <image id = "starMark3" class="startMark" src=$fullStar></image>
                                            <image id = "starMark1" class="startMark" src=$fullStar></image>
                                            <image id = "starMark2" class="startMark" src=$fullStar></image>
                                            <image id = "starMark4" class="startMark" src=$emptyStar></image>
                                            <image id = "starMark5" class="startMark" src=$emptyStar></image>
                                        #else
                                            #if($manga.Note>=3.5 && $manga.Note<4)
                                                <image id = "starMark4" class="startMark" src=$halfStar></image>
                                                <image id = "starMark3" class="startMark" src=$fullStar></image>
                                                <image id = "starMark1" class="startMark" src=$fullStar></image>
                                                <image id = "starMark2" class="startMark" src=$fullStar></image>
                                                <image id = "starMark5" class="startMark" src=$emptyStar></image>
                                            #else
                                                #if($manga.Note>=4 && $manga.Note<4.5)
                                                    <image id = "starMark4" class="startMark" src=$fullStar></image>
                                                    <image id = "starMark3" class="startMark" src=$fullStar></image>
                                                    <image id = "starMark1" class="startMark" src=$fullStar></image>
                                                    <image id = "starMark2" class="startMark" src=$fullStar></image>
                                                    <image id = "starMark5" class="startMark" src=$emptyStar></image>
                                                #else
                                                    #if($manga.Note>=4.5&& $manga.Note<5)
                                                        <image id = "starMark5" class="startMark" src=$halfStar></image>
                                                        <image id = "starMark4" class="startMark" src=$fullStar></image>
                                                        <image id = "starMark3" class="startMark" src=$fullStar></image>
                                                        <image id = "starMark1" class="startMark" src=$fullStar></image>
                                                        <image id = "starMark2" class="startMark" src=$fullStar></image>
                                                    #else
                                                        #if($manga.Note>=5)
                                                            <image id = "starMark5" class="startMark" src=$fullStar></image>
                                                            <image id = "starMark4" class="startMark" src=$fullStar></image>
                                                            <image id = "starMark3" class="startMark" src=$fullStar></image>
                                                            <image id = "starMark1" class="startMark" src=$fullStar></image>
                                                            <image id = "starMark2" class="startMark" src=$fullStar></image>
                                                        #end
                                                    #end
                                                #end
                                            #end
                                        #end
                                    #end
                                #end
                            #end
                        #end
                    #end
                #end
            </ul>
            <p class="synopsysReview">
                $manga.Resume
            </p>
        </div>
    </div>
    <div class="listReviews">
        <ul>
            #foreach($revieww in $manga.reviewList)
                <p class="elementReview">
                    $revieww.text
                </p>
            #end
        </ul>
    </div>
</body>
</html>