<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <header>
    <input id="settingsButtonShow" class="settingsMainButton" type="image" src="https://static.qoqa.ch/pictogram/media/files/000/000/214/png_negative/icon-hl-mecanic.png" size="0" />
    <h1>Bienvenue $user.Pseudo</h1>
    <input onclick=goToPage("http://localhost:8080/logOff") class="logInMainButton" type="image" src="https://iconape.com/wp-content/png_logo_vector/login-29.png" size="0" />
    </header>
    <script>
        document.getElementById('settingsButtonShow').onclick = function() {
            var show = document.getElementById("visibilitySettings")
            if(show.style.visibility=="visible"){
                show.style.visibility="hidden"
            }else{
                show.style.visibility="visible"
            }
        };
        function goToPage(url){
            window.location.replace(url);
        }
    </script>
</head>
<body>
    <style type="text/css">
      #include("css/tHt.css")
    </style>
    <div class="settingsMenuToShow" id="visibilitySettings" style="visibility: hidden">
        <div class="divTriangle"></div>
        <div class="settingsMainMenu">
            <a class="textButton" href="http://localhost:8080/welcome">Nouveaux</a>
            <a class="textButton" href="http://localhost:8080/explore">Explorer</a>
            <a class="textButton">A propos</a>
        </div>
    </div>
    #if (!$user.Admin)
        <div>
            <h1> Profil utilisateur:</h1>
        </div>
        <form action="form" method="POST">
            <div>
                <label for="name" >Name: </label>
                #springFormInput("user.name"  "id='name' placeholder='$user.name' class='modifUserForm' required")
                <label for="fname">first name: </label>
                #springFormInput("user.firstname"  "id='fname' placeholder='$user.firstname' class='modifUserForm' required")
                <label for="pseudo">pseudo </label>
                #springFormInput("user.pseudo"  "id='pseudo' placeholder='$user.pseudo' class='modifUserForm' required")
                <label for="passwd">password: </label>
                #springFormInput("user.password"  "id='passwd' placeholder='$user.password' type='password' class='modifUserForm' required")
            </div>
            <button type="submit">Valider les changements</button>
        </form>
    #end
    #if ($user.Admin)
        <h1>Liste des utilisateurs:</h1>
    <table>
        <tr>
            <th>Pseudo:</th>
            <th>Admin?</th>
        </tr>
    </table>
        #foreach($uuser in $listUsers)
            <table>
            <tr>
                #if ($uuser.Id!=$user.Id)
                    <td>$uuser.Pseudo</td>
                        #if($uuser.Admin)
                            <td> <input onclick=goToPage("http://localhost:8080/permission/rmAdmin/"+$uuser.Id) class="rightCheck" type="image" src="https://cdn.pixabay.com/photo/2012/04/11/17/44/check-mark-29114_1280.png"/> </td>
                        #end
                        #if(!$uuser.Admin)
                            <td> <input onclick=goToPage("http://localhost:8080/permission/addAdmin/"+$uuser.Id) class="checkMark" type="image" src="https://www.rawshorts.com/freeicons/wp-content/uploads/2017/01/brown_prodpictxmark_2_1484336303-1.png"/> </td>
                        #end
                    #end
            </tr>
        </table>
        #end
    <h1>Liste des mangas disponibles</h1>
        <ul>
            #foreach($manga in $listManga)
                <li>
                    $manga.name
                </li>
                <input onclick=goToPage("http://localhost:8080/manga/update/"+$manga.Id+"/fill") class="adminMajManga" type="image" src="https://icons555.com/images/icons-black/image_icon_available_updates_pic_512x512.png" href="http://localhost:8080/"></input>
                <input onclick=goToPage("http://localhost:8080/manga/delete/"+$manga.Id) class="adminMajManga" type="image" src="https://www.pngplay.com/wp-content/uploads/7/Delete-Logo-Background-PNG-Image.png" href="http://localhost:8080/"></input>
            #end
        </ul>
    #end

</body>
</html>