<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<style type="text/css">
      #include("css/tHt.css")
    </style>

#if($user.Adminn==false)
    <div>
        <h1> Profil utilisateur</h1>
    </div>
    <div>
        <p> Nom : $user.Name </p>
        <p> Prénom : $user.Prenom</p>
    </div>
#else
    <div>
        <h1> ------ADMIN MODE------</h1>
    </div>
#end




</body>
</html>